@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
*{
    font-family: "Playwrite NZ Basic", cursive;
}
#evnelope{
    position: relative;
    width: 280px;
    height: 180px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    background-color: #df5e9a;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}
.front{
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
}
.flap{
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-bottom: 82px solid transparent;
    border-top: 98px solid #df5e9a;
    transform-origin: top;
}
.pocket{
    border-left: 140px solid #f875b2;
    border-right: 140px solid #f875b2;
    border-bottom: 90px solid #ec64a4;
    border-top: 90px solid transparent;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#letter, .image{
    position: relative;
    background-color: #fff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    border-radius: 6px;
    box-shadow: 0 2px 26px rgba(0,0,0,0.12);
}
#letter{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.image{
    height: 90%;
    position: absolute;
    width: auto;
    border: 5px white solid;
    box-sizing: border-box;
}
.image.left{
    left: 10px;
}
.image.right{
    right: 10px;
}
#letter .txt{
    margin: 10px 10px 0px 10px;
}
#letter .txt h1, #letter .txt span{
    color: #d00000;
}
.open .flap{
    transform: rotateX(180deg);
    transition: transform 0.4s ease, z-index 0.6s;
    z-index: 0;
}
.close .flap{
    transform: rotateX(0deg);
    transition: transform 0.4s 0.6s ease, z-index 1s;
    z-index: 5;
}
.close .image{
    transform: rotateX(0deg);
    transition: transform 0.4s 0s ease, z-index 0.4s;
    z-index: 1;
}
.open .image{
    transition: z-index 1s;
    z-index: 1;
}
.open .image.left{
    transform: translateY(-180px) translateX(-25px) rotate(-15deg);
    transition: transform 0.4s 0.6s ease;
}
.open .image.right{
    transform: translateY(-180px) translateX(25px) rotate(15deg);
    transition: transform 0.4s 0.6s ease;
}
.close #letter.letter-close{
    transform: translateY(0px);
    z-index: 2;
    height: 90%;
    transition: transform 0.4s ease, height 0.4s 0.6s, z-index 1s;
}
.open #letter.letter-close{
    transform: translateY(-60px);
    height: 90%;
    transition: transform 0.4s 0.6s ease, height 0.4s, z-index 0.6s;
    z-index: 2;
}
.open #letter.letter-open{
    transform: translateY(-50vh);
    height: 60vh;
    z-index: 3;
    transition: transform 0.4s ease, height 0.4s 0.6s, z-index 0.6s 0.6s;
}
.hearts{
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 2;
}
.heart{
    position: absolute;
    bottom: 0;
    right: 10%;
}
.heart::before, .heart::after{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background-color: #d00000;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart::after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
.close .heart{
    opacity: 0;
    animation: none;
}
.a1{
    left: 20%;
    transform: scale(0.6);
    opacity: 1;
    animation: animate 4s linear 1, sideSway 2s ease-in-out 4 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}
.a2{
    left: 55%;
    transform: scale(1);
    opacity: 1;
    animation: animate 5s linear 1, sideSway 4s ease-in-out 2 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}
.a3{
    left: 10%;
    transform: scale(0.8);
    opacity: 1;
    animation: animate 7s linear 1, sideSway 2s ease-in-out 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}
@keyframes animate{
    0%{
        top: 0;
    }
    100%{
        top: -110vh;
    }
}
@keyframes sideSway{
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: 50px;
    }
}
body{
    background-color: #fadbea;
    overflow: hidden;
}
.evnelope-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}